<h1>Categorias</h1>
<% @categories.each do |category| %>
   <h2><%= link_to category.nombre_categoria, admin_category_path(category) %></h2>
   <p>
   <%= link_to "Mostrar", admin_category_path(category) %>
   <%= link_to "Editar", edit_admin_category_path(category) %>
   <%= link_to "Eliminar", admin_category_path(category), method: :delete, data: { confirm: 'Estas seguro de eliminar la categoría?' } %>
   </p>
   <hr />
<% end %>
<p><%= link_to "Nueva categoria", new_admin_category_path %></p>
