<center>
  <%= render 'partials/notice_messages', object: @product %>
      <%= form_for ["admin",@product],  html: { multipart: true , class: "form-horizontal"} do |f| %>
        <div class="form-group">
           <h3>
            <%= f.label "Imagen", class: "label label-default"  %>
           </h3>
            <div  >
               <%= f.file_field :image %>
            </div>
        </div>
        <div class="form-group">
           <h3>
            <%= f.label "producto", class: "label label-default"  %>
           </h3>
            <div>
               <%= f.text_field :producto , class: "form-control width=50px"%>
            </div>
        </div>
          <div class="form-group">
            <h3>
              <%= f.label "Categoria", class: "label label-default"  %>
            </h3>
            <div>
               <%= f.select  :category_id, Category.all.map { |c| [c.nombre_categoria,c.id] }  , class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <h3>
              <%= f.label "Codigo", class: "label label-default"  %>
            </h3>
            <div>
               <%= f.text_field  :codigo_producto , class: "form-control"%>
            </div>
        </div>
         <div class="form-group">
            <h3>
              <%= f.label "Descripcion", class: "label label-default"  %>
            </h3>
            <div>
               <%= f.text_area :descripcion, :rows => 7, :cols => 20, class: "form-control" %>
            </div>
        </div>
         <div class="form-group">
           <div>
            <%= f.submit "Me gusta", :votos=>"like",class: "btn btn-default btn-lg active form-control" %>
           </div>
        </div>
        <div class="form-group">
           <div>
            <%= f.submit "crear", class: "btn btn-default btn-lg active" %>
         </div>
        </div>
      <% end %>
</center>
