<%= render 'partials/notice_messages', object: @product %>
      <%= form_for ["admin",@product],  html: { multipart: true } do |f| %>
        <p>
          <h3>
            <%= f.label "Imagen", class: "label label-default" %>
          </h3>
            <%= f.file_field :image %>
        </p>
        <p>
          <h3>
            <%= f.label "Producto" , class: "label label-default" %><br />
          </h3>
            <%= f.text_field :producto %>
        </p>
        <p>
          <h3>
            <%= f.label "Categoria", class: "label label-default" %><br />
          </h3>
            <%= f.select  :category_id, Category.all.map { |c| [c.nombre_categoria,c.id] }  %>
        </p>
        <p>
        <h3>
           <%= f.label "Codigo", class: "label label-default"  %><br />
        </h3>
           <%= f.text_field :codigo_producto %>
        </p>
        <p>
        <h3>
           <%= f.label "Descripcion", class: "label label-default"  %><br/>
        </h3>
           <%= f.text_area :descripcion, :rows => 7, :cols => 20 %>
        </p>
        <p>
           <%= f.submit "Me gusta", :votos=>"like", class: "btn btn-info"%>
        </p>
        <div class="field">
          <%= f.label "Etiqueta"%>
          <%= f.collection_select :producto_etiquetas, Label.order(:nombre_de_etiqueta), :id, :nombre_de_etiqueta, {}, {multiple: true} %>
        </div>
        <p>
          <%= f.submit "crear", class: "btn btn-primary" %>
        </p>
      <% end %>



