<p>
  <%= @product.producto %>
</p>
<%= image_tag(@product.image.url(:medium)) %>
<p>
 Codigo : <%= @product.codigo_producto %>
</p>

<p>
  <% @product.labels.each do |label| %>
    <%= label.nombre_de_etiqueta %>,
  <% end %>
</p>


<p>
  <%= @product.descripcion %>
</p>
<small><%= @product.created_at %></small>
<p><%= link_to "Volver", admin_products_path, class: "btn btn-warning" %></p>
